
<br><br>
<div class="d-flex justify-content-center flex-wrap">
    <h1> Homes </h1>
    <br><br>
</div>

<div class="d-flex justify-content-center flex-wrap">
    <br><br>
    <%= link_to "Add listing", new_listing_path(@user) if signed_in? %> 
    <br><br><br><br>
</div>

<div class="d-flex justify-content-center flex-wrap">
    <% @listings.each do |listing| %> 
      	<div class="card" style="width: 18rem;">

      	  <div class="card-body">
      	    <h5 class="card-title" style="text-align: center"> <%= listing.title %>
      	    <%= listing.price %> 
      	    <%= listing.location %></p>
      	    <%= link_to "See Listing", listing_path(listing.id), class: "btn btn-primary" %>
      	  </div>
      	</div>
    	<br>
    <% end %>

</div>


