<div class="text-field">
  <%= f.label :check_in %>
  <%= f.text_field :check_in, placeholder: "dd/mm/yy" %>
</div>

<div class="text-field">
  <%= f.label :check_out %> 
  <%= f.text_field :check_out, placeholder: "dd/mm/yy" %>
</div>

<div class="text-field">
  <%= f.label :number_of_guests %>
  <%= f.text_field :number_of_guests, placeholder: "number of guests" %>
</div> -->