<br><br>

<div class="d-flex">
<div style="margin: auto">
<div> <%= image_tag @listing.avatar.url if @listing.avatar? %> </div> 
<br>
<div> <%= @reservation.check_in %> </br> </div>
<br>
<div> <%= @reservation.check_out %> </br> </div>
<br>
<div> <%= @reservation.total_price %> </br> </div> 
<br>
<div> <%= @listing.location %> </br></br></br> </div>
<div> <%= button_to "cancel", listing_path(@listing), method: :delete%> </div>
</div>
</div>
