<br> <br> <br> <br>

<div id="clearance" class="password-reset">

    <div class="password-reset d-flex justify-content-center">
          <h2><%= t(".title") %></h2>
    </div>
    
    <br><br>
    <br> <br>
    
    <div id="clearance" class="password-reset d-flex justify-content-center">
          <p><%= t(".description") %></p>
    </div>
    

    
      <%= form_for :password, url: passwords_path do |form| %>
    <div class="text-field d-flex justify-content-center">
          <%#= form.label :email %>
          <%= form.text_field :email, type: 'email' %>
    </div>
    
    <br> <br>
    <br> <br>
    <div class= "submit-field d-flex justify-content-center">
          <%= form.submit %>
    </div>

    <% end %>

  </div>



